*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111; 
    margin: 0;
    font-family: 'Inria Sans';
}

.login-container {
    background-color:#000;
    padding: 66px 61px 100px 61px;
    width: 410px;
    height: 608px;
    color: #fff;

}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.tab-button {
    flex: 1;
    padding: 10px;
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 24px;
    font-family: Inria Sans;
    font-weight: 600;
    line-height: 28.78px;
    letter-spacing: 0.03em;

}

.tab-button.active {
    background-color: #c00;
    border-radius: 0 8px 8px 0;
}
#signup{
    border-radius: 8px 0 0 8px ;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 14px 0px 11px 20px;
    margin-bottom: 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 200;
    line-height: 19.36px;
    text-align: left;

}

.remember-me input[type="checkbox"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border-radius: 8px;
   
}

.login-button {
    background-color: #c00;
    border: none;
    padding: 11px 115px 12px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: Inria Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.98px;
    letter-spacing: 0.03em;
    

}

.additional-links {
    display: flex;
    flex-direction: column;
}

.additional-links a {
    color: #c00;
    text-decoration: none;
    margin: 10px 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
}

.additional-links .sign-up span {
    color: #fff;
}
